<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>
    {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="w-100" src="images/4660894_2456051.jpg"
                                        alt="404 error">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 main_header_left align-items-centre">
                        <p>Error 404</p>
                        <h1>Opps! page not found</h1>
                        <a href="/"><button>Go Back</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>