@import url('https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,200;8..30,300;8..30,400;8..30,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Piazzolla", serif;
}

:root {
    --main-bg: #343a40 !important;
    --main-color: #0097e6;
}

html {
    font-size: 100%;
}

.main_menu {
    background-color: var(--main-bg);
}

.navbar {
    padding: 0.5rem 0;
}

.navbar li {
    margin-left: 2rem;
}

.fa-snowflake {
    transition: all linear;
    animation: rot 2s linear infinite;
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.main_header_left {
    height: 37rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main_header_left p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.main_header_left h1 {
    font-size: 3rem;
    margin: 1rem 0 3rem 0;
    text-transform: capitalize;
}

.txt_clr {
    color: var(--main-color);
}

.main_header_left button {
    border: none;
    padding: 0.6rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 1.6rem;
    text-transform: uppercase;
    color: var(--main-bg);
    background-color: var(--main-color);
    transition: 0.5s;
    box-shadow: 0 8px 6px -6px #000;
    outline: none;
}

.main_header_left button:hover {
    transition: 0.5s;
    background-color: var(--main-bg);
    color: var(--main-color);
}

.main_header_right {
    height: 39rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* responsive code */

@media (max-width: 768px) {
    .main_header_left {
        height: auto;
        margin: 1.8rem 0;
    }

    .main_header_right {
        height: auto;
        margin-top: 1rem;
    }

    .temp_form{
      width: auto;
    }

    .tempInformation{
      width: auto;
    }
}


.temp_form {
    max-width: 60%;
    position: relative;
    margin: 4rem auto;
  }
  
  .temp_form input[type="text"] {
    width: 100%;
    padding: 1rem 2.5rem 1rem 1rem;
    background-color: var(--main-bg);
    color: white;
    outline: none;
    border: none;
    font-size: 1rem;
    border-radius: 2rem;
  }
  
  ::placeholder {
    color: #bfc1c8;
  }
  
  .temp_form input[type="submit"] {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    border: none;
    background: var(--main-color);
    padding: 0 1.5rem;
    border-radius: 2rem;
    color: white;
    font-size: 1rem;
    transition: 0.3s;
  }
  
  .temp_form input[type="submit"]:hover {
    color: var(--main-color);
    background-color: #fff;
    transition: 0.3s;
  }
  
  /* temp detials show here */
  
  .tempInformation {
    max-width: 23rem;
    margin: auto;
    min-height: 18rem;
    background-color: var(--main-bg);
    border-radius: 1rem;
    padding: 1rem;
    font-family: "Roboto", sans-serif;
  }
  
  .top_layer {
    width: 100%;
    height: 20%;
    background-color: #2d303d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    padding: 0.8rem 0;
  }
  
  .top_layer p {
    color: #fff;
    font-weight: 300;
    padding: 0 1rem;
    padding-top: 0.3rem;
    align-items: center;
  }
  
  .main_layer {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
  }
  
  .main_layer #city_name {
    padding: 1rem 0;
    color: #bfc1c8;
    font-weight: 400;
    font-size: 1.5rem;
  }
  
  .main_layer .middle_layer {
    display: flex;
    justify-content: space-around;
    color: #fff;
  }
  
  .main_layer .middle_layer p,
  .main_layer .middle_layer .fa {
    font-size: 3rem;
    font-weight: 900;
  }
  
  .fa {
    color: #009ad8;
  }
  
  sup {
    font-size: 6rem;
    margin-top: -2rem;
  }
  
  .data_hide {
    visibility: hidden;
    transition: all 0.3s linear;
  }

  
  